<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<span class="hello-msg">Hello, {{ request.user }}</span>
<span><a class="hello-msg" href="{% url 'polls:logout' %}">Logout</a></span>

{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                {{ question.question_text }}
                {% if question.can_vote %}
                    <a href="{% url 'polls:detail' question.id %}">vote</a>
                {% else %}
                    <label>Can't vote now</label>
                {% endif %}
                <a href="{% url 'polls:results' question.id %}">Results</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p style="color: white">No polls are available.</p>
{% endif %}