li a {
    color: royalblue;
}

li {
    color: white;
}

body {
    background: white url("images/background2.gif") no-repeat;
}

.hello-msg {
    font-size: 18px;
    color: white;
    margin-right: 20px;
}